@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,600&display=swap');

html, body {padding: 0; margin: 0; width: 100%; overflow: hidden}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    color: #ffffff;
}

#preCount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:rgba(0, 0, 0, 1);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
}

#preContainer {
    display:flex;
    flex-direction:column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    position:relative;
    top:5.5vh;
}

#preTitle {
    text-align: center;
    top:30vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-size: 3.7em;
    text-transform: uppercase;
    font-weight: 900;
}

#nextBtn {
    margin-top: 5.5vh;
    border: 0.3vh solid #ffffff;
    background-color:rgba(0, 0, 0, 1);
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
    width: 18vh;
    height: 6vh;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.8s;
    text-transform: uppercase;
}

#nextBtn a {
    text-decoration: none;
    display: inline-block;
}

#nextBtn:hover {
    border: 0.3vh solid #ffffff;
    background-color:#ffffff;
    text-align: center;
    font-size: 1.4em;
    font-weight: 550;
    color: #000000;
    width: 22vh;
    height: 8vh;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.8s;
}

#projName {
    text-align: center;
    font-size: 1.3em;
    margin-top: 14.8vh;
}

#devName {
    text-align: center;
    font-size: 0.8em;
    margin-top: 1vh;
}

#loading {
    display:flex;
    flex-direction:column;
    z-index: 399;
    align-items: center;
    background:rgba(0, 0, 0, 1);
    height: 100vh;
    width: 100vw;
    position: fixed;
}

#loadingGIF {
    display: block;
    z-index: 400;
    background: transparent;
    height: 20vw;
    margin: 0 auto 0 auto;
    position: absolute;
    top:20vh;
}

#loadingText {
    display:block;
    color:#ffffff;
    position: absolute;
    top:53vh;
    text-transform: uppercase;
    z-index: 400;
    text-align: center;
    margin: 0 auto auto auto;
    font-size: 1.5em;
    font-weight: 400;
}

.nav a {
    text-decoration: none;
    display: inline-block;
}

.map-btn{
    background-color: transparent;
    border: none;
    margin: 0.5em 0.7em auto auto; 
    position: absolute;
    right: 0;
    font-size: 2em;
    font-weight: 100;
    transition-duration: 1.2s;
}

.map-btn:hover{
    transform: scale(0.8);
    cursor: pointer;
}

.cover {
    position: absolute;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    z-index:-2;
    object-fit: cover;
}

.shadow{
    position:absolute;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    box-shadow: inset 0px 0px 300px 0px rgba(0, 0, 0);
    z-index:-1;
}

.main-btn {
    cursor: pointer;
    z-index: 1;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
}

#corridor {
    width: 26.1%;
    padding: 0;
    border: none;
}

.footer {
    display: flex;
    justify-content: center;
    position:absolute;
    left: 0;
    top: 90vh;
    width: 100%;
    align-items:center;
}

.long-line{
    background-color: transparent;
    background-size: contain;
    background-position: center;
    width: 13.6vw;
    background-repeat: no-repeat;
    height:0.05vw;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.8);
}

.line{
    background-color: transparent;
    background-size: contain;
    background-position: center;
    width: 10vw;
    background-repeat: no-repeat;
    height:0.05vw;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.8);
}

.footer-title {
    display: block;
    text-align: center;
    font-size:1.2em;
    font-weight: 300;
    margin: 1em auto 0.7em auto;
    display: flex;
    position: absolute;
    left: 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 3px 3px 7px rgba(0,0,0,0.5);
}

.d {
    position: absolute;
    top: 90.5vh;
}

.up {
    position: absolute;
    top: 83.5vh;
}

.footer-title-larger{
    font-size:1.4em;
    font-weight: 500;
    margin: 1em auto 0.7em auto;
    padding: .4vw;
    position: absolute;
    top: 76.5vh;
    left: 2vw;
    text-transform: uppercase;
    text-shadow: 4px 4px 7px rgba(0,0,0,0.8);
}

.footer-btn {
    background-image: url(footer-btn.png);
    background-color:transparent;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    width:.8vw;
    height:.8vw;
    top: 80vh;
    padding:0;
    border:none;
    border-radius:50%;
    cursor: pointer;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.7);
}

.Rethinking{
    z-index: 2;
    position: absolute;
    left: 7vw;
    font-size: 1vw;
}

.Canteen{
    z-index: 3;
    position: absolute;
    left: 19.5vw;
    font-size: 1vw;
}

.Coworking{
    z-index: 5;
    position: absolute;
    left: 28vw;
    font-size: 1vw;
}

.Mobile{
    z-index: 7;
    position: absolute;
    left: 43vw;
    font-size: 1vw;

}

.Clinic{
    z-index: 9;
    position: absolute;
    left: 52vw;
    font-size: 1vw;
}

.Water{
    z-index: 11;
    position: absolute;
    left: 61vw;
    font-size: 1vw;
}

.Riverfront{
    z-index: 13;
    position: absolute;
    left: 69vw;
    font-size: 1vw;
}

.Vacant{
    z-index: 15;
    position: absolute;
    left: 85vw;
    font-size: 1vw;
}


/* CARD */

.card-container{
    position: absolute;
    top: 20%;
    left: 65%;
    display: flex;
    width: 25%;
    max-height: 68%;
    flex-direction: column;
    background-color: transparent;
}

.image-icon{
    border-radius:50%;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 15%;
    max-width: 30%;
}

.content-container{
    display: flex;
    flex-direction: column;
    color: #2C2C34;
    margin-top: 10%;
    background-color: rgba(255,255,255,0.95);
    width: 100%;
    border-radius: 5%;
    box-shadow: 10px 10px 17px 13px rgba(0, 0, 0, 0.4);
}

.card-title{
    font-size: 1.3vw;
    font-weight: 500;
    color: #2C2C34;
    position: absolute;
    margin: 20% 15% 0 15%;
    width: 60%;
}

.introduction{
    font-size: 1.0vw;
    font-weight: 400;
    color: #2C2C34;
    position: absolute;
    margin: 36% 15% 0 15%;
}

.card-btn {
    display: flex;
    position: relative;
    margin-left: 15%;
    margin-top: 85%;
    margin-bottom: 10%;
    text-decoration:none;
}

.more-btn{
    background-color: #60616F;
    font-size: 1.1vw;
    text-decoration:none;
    color:#ffffff;
    width: 29%;  
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}

.more-btn a{
    background-color: #60616F;
    font-size: 1.1vw;
    text-decoration:none;
    color:#ffffff;
    width: 29%;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.back-btn {
    background-color: #dcdce6;
    font-size: 1.1vw;
    text-decoration:none;
    color:#60616F;
    width: 46%;
    margin-left: 7%;
    cursor: pointer;
}

/* card z index */
.steelLowerZ {
    z-index: 0;
}

.steelUpperZ {
    z-index: 1;
}

.ruoyuLowerZ {
    z-index: 2;
}

.ruoyuUpperZ {
    z-index: 3;
}

.riverLowerZ{
    z-index: 4;
}

.riverUpperZ{
    z-index: 5;
}

.vacantLowerZ{
    z-index: 6;
}

.vacantUpperZ{
    z-index: 7;
}

.mobileLowerZ{
    z-index: 8;
}

.mobileUpperZ{
    z-index: 9;
}

.canteenLowerZ{
    z-index: 10;
}

.canteenUpperZ{
    z-index: 11;
}

.coworkingLowerZ{
    z-index: 12;
}

.coworkingUpperZ{
    z-index: 13;
}

.clinicLowerZ{
    z-index: 14;
}

.clinicUpperZ{
    z-index: 15;
}